body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 100%;
}

.code-block {
  width: 56em;
  margin: 1em;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
