* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0.5em;
  border-right: 1px solid #ddd;
}

nav a {
  display: block;
  padding: 0.5em;
  background: #eee;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

nav a:hover,
nav a.active {
  background: #ddd;
}

main {
  margin: 0 auto;
  width: 56em;
  max-width: 100%;
}

.code-block {
  margin: 1em;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.run-button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  color: #646464;
}
